.background {
    background-image: url('../Station-2/images/bg.png');
    background-repeat: repeat;
    background-size: auto;
}

.wrapper {
    background-image: url(../Station-2/images/wrapperbg.png);
    width: 600px; height: 400px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: absolute;
    left: 160px;
    top: 80px;
    box-sizing: content-box;
    width: 400px;
}

.shell {
    position: absolute;
    bottom: 150px;
    left: 340px;
    opacity: 100%;
}

.perle {
    position: absolute;
    bottom: 150px;
    left: 340px;
    opacity: 0%;
}

.shell:hover {
    opacity: 0%;
}

.perle:hover {
    opacity: 100%;
}

.shellmitte {
    position: absolute;
    top: 270px;
    left: 340px;
    opacity: 100%;
}

.perlemitte{
    position: absolute;
    top: 270px;
    left: 340px;
    opacity: 0%;
}

.shellmitte:hover {
    opacity: 0%;
}

.perlemitte:hover {
    opacity: 100%;
}

.shellrechts {
    position: absolute;
    top: 230px;
    right: 450px;
    opacity: 100%;
}

.perlerechts {
    position: absolute;
    top: 230px;
    right: 450px;
    opacity: 0%;
}

.shellrechts:hover{
    opacity: 0%;
}

.perlerechts:hover {
    opacity: 100%;
}





