.background {
    background-image: url('../Station-3/images/bg.png');
    background-repeat: repeat;
    background-size: auto;
}

.wrapper {
    background-image: url(../Station-3/images/wrapperbg.png);
    width: 600px; height: 400px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'kenyan';
    src: url(fonts/kenyan\ coffee\ rg.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'kenyan';
    src:url(fonts/kenyan\ coffee\ bd.ttf)
}

h1 {
    font-family: 'kenyan';
    font-weight: normal;
    color: beige;
    font-size: 30px;
    position: absolute;
    left: 160px;
    top: 40px;
    box-sizing: content-box;
    width: 400px;
}

p {
    font-family: 'kenyan';
    font-weight: 100;
    color: beige;
    font-size: 20px;
    position: absolute;
    left: 160px;
    top: 140px;
    box-sizing: content-box;
    width: 400px;
    text-align: left;
}